<app-header></app-header>

<div class="container">

  <!-- Energy Score -->

  <span class="m-3 d-flex justify-content-center border border-success">Your Energy: {{ service.score }}</span>

  <!-- Energy Score end -->

  <!-- Map View -->

  <aol-map>
    <aol-interaction-default></aol-interaction-default>
    <aol-control-defaults></aol-control-defaults>
    <aol-control-fullscreen></aol-control-fullscreen>


  <!-- View when site is opened with Coordinates -->

    <aol-view [zoom]="14">
      <aol-coordinate [x]="0.685" [y]="47.387" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>

    <aol-layer-tile [opacity]="1">
      <aol-source-osm></aol-source-osm>
    </aol-layer-tile>

  <!-- View when site is opened with Coordinates -->

  <!-- Generates random placements on map with markers-->

    <aol-layer-vector>
      <aol-source-cluster [distance]="distance">
        <aol-source-vector>
          <aol-feature *ngFor="let p of points">
            <aol-geometry-point>
            </aol-geometry-point>

            <aol-overlay>
              <aol-coordinate [x]="p.x" [y]="p.y" [srid]="'EPSG:4326'"></aol-coordinate>
              <aol-content>
                <span (click)="openLg(content)">
                  <img class="icon" src="https://images.vexels.com/media/users/3/143862/isolated/preview/699f4b859d8b3a8f144a3295a109d3f8-lolypop-mill-sweet-cartoon-by-vexels.png">
                </span>
              </aol-content>
            </aol-overlay>

          </aol-feature>
        </aol-source-vector>
      </aol-source-cluster>
    </aol-layer-vector>

   <!-- Generates random placements on map with markers end-->

  <!--Zone of Search Coordinates -->

    <aol-layer-vector>
      <aol-source-vector>
        <aol-feature>
          <aol-geometry-polygon>
            <aol-collection-coordinates [coordinates]="[[0.653, 47.401],[0.711, 47.401],[0.711, 47.376], [0.653, 47.376]]"
              [srid]="'EPSG:4326'">
            </aol-collection-coordinates>
          </aol-geometry-polygon>
          <!-- Zone of Search Area Style-->
          <aol-style>
            <aol-style-stroke [color]="'orange'" [width]="2"></aol-style-stroke>
            <aol-style-fill [color]="[255,0,0,0.1]"></aol-style-fill>
          </aol-style>
        </aol-feature>
      </aol-source-vector>
    </aol-layer-vector>

  <!--Zone of Search Coordinates end-->


  </aol-map>

<!-- Map View End-->

  <!-- Modal Pop-up -->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title"> Sweet! </h4>
    </div>
    <div class="modal-body">Boost! Energy Value: 50
    </div>
    <div class="modal-footer">
      <a class="nav-link" type="button" class="btn btn-light" (click)="modal.close('Close click'); totalEnergy(50)">Eat-up!</a>
    </div>
  </ng-template>

  <!-- Modal Pop-up end -->


</div>
