.icon {
  max-width: 10%;
  max-height: 100%;
}

.panel {
  text-align: center;
  padding:10px;

}

.clock{
  font-size: larger;
  background: black;
  color: yellow;
  padding:10px;
  border-radius: 7px;
}

.btn{
  background: orange;
}