
h1{
	font-size: 60px;
	font-family: Marker Felt;
	margin-bottom: 3%;
}
.container-fluid{
	margin-top: 3%;
}


.spanenergy{
	margin-top: 5%;
	font-size: 30px;
	margin-right: 30%;
	margin-left: 30%;
	min-width: 220px;
	
}

.boxcard{
	margin-top: 7%;
}


.row{
	margin-top: 6%;
}