.container-fluid{
	background-image: url('https://wallpapercave.com/wp/wp2251595.jpg');
	height: 100vh;
	width: 100vw;
	background-size: cover;
	min-height: 800px
}

.card{
	margin-bottom: 10%;
	margin-top: 10%;
	min-height: 650px;
	max-height: 750px;
}

p{
	font-size: 22px;
	text-align: justify;
}

.card-link{
	font-size: 40px;
	font-family: Market Felt;

}

