<app-header></app-header>
<div class="container-fluid d-flex justify-content-center">
	<div class="card" style="width: 30rem;">
		<div class="card-body">
			<h3 class="card-title">Rule's Game</h3>
			<h4 class="card-subtitle mb-2 text-muted">It's simple !</h4>
			<p class="card-text">Like Pokemon Go, you walk in the street for find some candies for halloween's season; Candy-Go allows you to locate on a map candies avaible around you. You have to zoom on the map to find candies, you click on it and it is add to your Candy-box, each one give you 50 energy points, you start the game with basic candies like the Tic-Tac. You can change energy points in trophies, for example Dragolo worth 352 energy points. The goal is to gather the maximum of trophies.

			</p>
			<p>
			Good luck young hunter!</p>
			<a routerLink='/candyplay' class="card-link">Got it !</a>

		</div>

	</div>
</div>
<app-footer></app-footer>