
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img src="https://png.icons8.com/color/1600/halloween-candy.png" width="30" height="30" class="d-inline-block align-top" alt="">
	             
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Candy-play 🔎</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Candy-box</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">House</a>
			</li>
		</ul>
	</div>
</nav>
